// fonts import
@import url(/font/fonts.scss);
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

// Header top styles
#header-top {
    background-color: #F8F8F9;
}

// navbar container style part
.navbar-container {
    .navbar-container-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;

        .navbar-container-top-left {
            display: flex;
            gap: 20px;

            .navbar-container-top-left-1 {
                display: flex;
                gap: 10px;
                align-items: center;

                i {
                    color: #757180;
                    font-size: 15px;
                }

                a {
                    text-decoration: none;
                    color: #757180;
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }

        .navbar-container-top-right {
            ul {
                display: flex;
                gap: 25px;
                font-size: 13px;
                list-style-type: none;
                margin-bottom: 0px;

                a {
                    text-decoration: none;
                    color: #757180;
                    transition: all 0.2s;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    i {
                        font-size: 7px;
                    }

                    &:hover {
                        color: #2b2b2b;
                    }
                }
            }
        }
    }
}

// HEader middle default navbar style part
#header-middle {
    padding: 15px 0px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 5;
    -webkit-box-shadow: -1px 17px 11px -9px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 17px 1px -9px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 5px 11px -9px rgba(34, 60, 80, 0.2);

    .header-middle-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-middle-container-button {
            a {
                text-decoration: none;
                color: #fff;
                background-color: #D92E15;
                padding: 17px 25px;
                border-radius: 15px;
                display: flex;
                gap: 7px;
            }
        }

        .header-middle-container-input {
            width: 450px;

            .header-input {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid #dad7d7;
                border-radius: 15px;
                padding: 2px 2px 2px 20px;
                height: 50px;

                input {
                    border: none;
                    outline: none;
                    color: #757180;
                    font-weight: 500;
                    opacity: 0.8;

                    ::placeholder {
                        color: #757180;
                    }
                }

                a {
                    background-color: #D92E15;
                    color: #fff;
                    padding: 10px 30px;
                    border-radius: 15px;
                }
            }
        }

        .header-middle-container-menu {
            display: flex;
            text-align: center;
            gap: 15px;

            .header-middle-container-box {
                cursor: pointer;

                i {
                    color: #344F79;
                    font-size: 20px;
                    margin-bottom: 7px;
                }

                p {
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }
    }
}

.header-bottom-container {
    ul {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        list-style-type: none;

        .sale {
            color: #fff;
            background-color: #50CD47;
            font-size: 12px;
            padding: 7px 30px;
            border-radius: 15px;

            &:hover {
                opacity: 0.8;
                color: #fff;
            }
        }

        a {
            text-decoration: none;
            color: #757180;
            font-size: 14px;
            font-weight: 500;

            &:hover {
                color: #2b2b2b;
            }
        }
    }
}

#header-top-phone {
    display: none;

    .header-top-phone-main-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .header-top-left-container {
            #menu__toggle {
                opacity: 0;
            }

            #menu__toggle:checked~.menu__btn>span {
                transform: rotate(45deg);
            }

            #menu__toggle:checked~.menu__btn>span::before {
                top: 0;
                transform: rotate(0);
            }

            #menu__toggle:checked~.menu__btn>span::after {
                top: 0;
                transform: rotate(90deg);
            }

            #menu__toggle:checked~.menu__box {
                visibility: visible;
                left: 0;
            }

            .menu__btn {
                display: flex;
                align-items: center;
                position: fixed;
                top: 20px;
                left: 20px;

                width: 26px;
                height: 26px;

                cursor: pointer;
                z-index: 1;
            }

            .menu__btn>span,
            .menu__btn>span::before,
            .menu__btn>span::after {
                display: block;
                position: absolute;

                width: 100%;
                height: 2px;

                background-color: #616161;

                transition-duration: .25s;
            }

            .menu__btn>span::before {
                content: '';
                top: -8px;
            }

            .menu__btn>span::after {
                content: '';
                top: 8px;
            }

            .menu__box {
                display: block;
                position: fixed;
                visibility: hidden;
                top: 0;
                left: -100%;

                width: 300px;
                height: 100%;

                margin: 0;
                padding: 80px 0;

                list-style: none;

                background-color: #ECEFF1;
                box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

                transition-duration: .25s;
            }

            .menu__item {
                display: block;
                padding: 12px 24px;

                color: #333;

                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-weight: 600;

                text-decoration: none;

                transition-duration: .25s;
            }

            .menu__item:hover {
                background-color: #CFD8DC;
            }
        }

        .header-top-middle-container {
            i {
                font-size: 25px;
            }
        }
    }
}

#header-bottom-phone {
    display: none;
}

#header-middle-phone {
    display: none;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 4;
    padding: 10px 0px;

    .header-middle-phone-main-container {
        .header-middle-input-phone {
            display: flex;
            justify-content: space-between;
            border: 1px solid #f0efef;
            border-radius: 10px;
            padding-left: 10px;

            input {
                padding: 10px 15px;
                border: none;
                outline: none;
                width: 70%;
                color: #c1c0c4;

                ::placeholder {
                    color: #b9b9b9;
                }
            }

            i {
                padding: 15px 30px;
                color: #fff;
                background-color: #D92E15;
                border-radius: 10px;
                font-size: 20px;
                margin: 3px 3px 3px 0px;
            }
        }
    }
}

.navbar-bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    z-index: 4;
    display: none;

    .navbar-bottom-container {
        .navbar-bottom-main-container {
            padding-top: 20px;

            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                list-style-type: none;

                a {
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;
                    color: #b9b9b9;
                    font-size: 12px;

                    i {
                        font-size: 20px !important;

                        &:hover {
                            color: #D92E15;
                        }
                    }
                }
            }
        }
    }
}

// Kategory container part style
#kategory-container {
    margin-bottom: 50px;

    .kategory-container-title {
        h2 {
            font-size: 25px;
            font-weight: 700;
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }

    .kategory-main-container {
        display: flex;
        justify-content: space-between;

        .kategory-box {
            display: flex;
            align-items: center;
            gap: 15px;
            height: 40px;
            border: 1px solid #e2e2e2;
            padding: 35px 20px;
            width: 250px;
            border-radius: 15px;

            img {
                height: 50px;
                background-color: #FDF3F1;
                padding: 10px;
                border-radius: 10px;
            }

            h4 {
                font-size: 15px;
                font-weight: 700;
            }
        }
    }
}


// News part styles
#new-container {
    margin-bottom: 50px;

    .news-container-title {
        h2 {
            font-size: 25px;
            font-weight: 700;
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }

    .news-main-container {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .news-box {
            padding: 10px;
            display: grid;
            justify-content: space-around;
            align-self: self-start;
            border-radius: 15px;
            width: 200px;

            &:hover {
                outline: 1px solid #f5f4f4;
                cursor: pointer;
            }

            img {
                width: 170px;
            }

            .price {
                font-size: 20px;
                font-weight: 700;
                font-family: 'Lato', sans-serif;
            }

            .box-sale {
                font-size: 14px;
                color: #344F79;
                font-weight: 500;
                border: 1px solid #757180;
                text-align: center;
                border-radius: 10px;
                padding: 3px;
            }

            .comment {
                font-size: 14px;
                font-weight: 500;
                color: #757180;
                opacity: 0.7;
            }

            .evaluation {
                display: flex;
                gap: 5px;

                i {
                    font-size: 14px;
                    color: #FFA755;
                }

                p {
                    font-size: 14px;
                    font-weight: 500;
                    color: #757180;
                    opacity: 0.9;
                    margin-left: 5px;
                }
            }

            .box-icon-home {
                display: flex;
                justify-content: center;
                gap: 10px;

                i {
                    background-color: #e2e2e2;
                    padding: 15px;
                    border-radius: 10px;
                    color: #58565f;
                    cursor: pointer;
                }

                .adding {
                    color: #fff;
                    background-color: #D92E15;
                }
            }
        }
    }
}

#beast-seller {
    margin: 15px 0px;

    .best-seller-container-title {
        h2 {
            font-size: 25px;
            font-weight: 700;
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }

    .best-seller-main-container {
        display: flex;
        justify-content: space-between;

        .best-container-box {
            display: grid;
            justify-content: space-around;
            width: 200px;
            padding: 15px;
            border-radius: 15px;

            &:hover {
                outline: 1px solid #f5f4f4;
                cursor: pointer;
            }

            img {
                width: 180px;
                margin-bottom: 20px;
            }

            .price {
                font-size: 15px;
                font-weight: 700;
            }

            .box-sale {
                font-size: 12px;
                background-color: #fae7e3;
                color: #D92E15;
                padding: 7px;
                width: 78%;
                font-weight: 600;
                border-radius: 10px;
            }

            .comment {
                font-size: 13px;
                color: #525155;
                opacity: 0.9;
                font-weight: 500;
            }

            .evaluation {
                display: flex;
                gap: 5px;

                i {
                    color: #FFA755;
                    font-size: 13px;
                }

                p {
                    font-size: 13px;
                    font-weight: 500;
                    color: #525155;
                    opacity: 0.9;
                }
            }

            a {
                text-decoration: none;
                background-color: #D92E15;
                color: #fff;
                text-align: center;
                padding: 10px 0px;
                border-radius: 10px;
                font-size: 13px;
                font-weight: 700;
            }

        }
    }
}

.second-carusel {
    margin-bottom: 50px;

    img {
        border-radius: 15px;
    }
}

#buy-container {
    margin-bottom: 70px;

    .buy-container-title {
        h2 {
            font-size: 25px;
            font-weight: 700;
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }

    .buy-container-kategory {
        display: flex;
        gap: 20px;
        margin-bottom: 40px;

        a {
            text-decoration: none;
            font-size: 12px;
            color: #838181;
            background-color: #F8F8F9;
            padding: 7px 15px;
            border-radius: 20px;

            &:hover {
                background-color: #fbfbfc;
            }

            &:nth-child(1) {
                background-color: #000;
                color: #fff;
            }
        }
    }

    .buy-main-container {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .buy-container-box {
            padding: 10px;
            display: grid;
            justify-content: space-around;
            align-self: self-start;
            border-radius: 15px;

            &:hover {
                outline: 1px solid #f5f4f4;
                cursor: pointer;
            }

            img {
                width: 170px;
            }

            .price {
                font-size: 20px;
                font-weight: 700;
                font-family: 'Lato', sans-serif;
            }

            .box-sale {
                font-size: 14px;
                color: #344F79;
                font-weight: 500;
                border: 1px solid #757180;
                text-align: center;
                border-radius: 10px;
                padding: 3px;
            }

            .comment {
                font-size: 14px;
                font-weight: 500;
                color: #757180;
                opacity: 0.7;
            }

            .evaluation {
                display: flex;
                gap: 5px;

                i {
                    font-size: 14px;
                    color: #FFA755;
                }

                p {
                    font-size: 14px;
                    font-weight: 500;
                    color: #757180;
                    opacity: 0.9;
                    margin-left: 5px;
                }
            }

            .box-icon-home {
                display: flex;
                justify-content: center;
                gap: 10px;

                i {
                    background-color: #e2e2e2;
                    padding: 15px;
                    border-radius: 10px;
                    color: #58565f;
                    cursor: pointer;
                }

                .adding {
                    color: #fff;
                    background-color: #D92E15;
                }
            }
        }
    }
}

#nootebooks {
    margin-bottom: 70px;

    .nootebooks-title {
        h2 {
            font-size: 25px;
            font-weight: 700;
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }

    .nootebooks-main-container {
        display: flex;
        justify-content: space-between;

        .nootebooks-box {
            padding: 10px;
            display: grid;
            justify-content: space-around;
            align-self: self-start;
            border-radius: 15px;
            width: 200px;
            display: grid;
            justify-content: space-between;

            &:hover {
                outline: 1px solid #f5f4f4;
                cursor: pointer;
            }

            img {
                width: 170px;
            }

            .price {
                font-size: 20px;
                font-weight: 700;
                font-family: 'Lato', sans-serif;
            }

            .box-sale {
                font-size: 14px;
                color: #344F79;
                font-weight: 500;
                border: 1px solid #757180;
                text-align: center;
                border-radius: 10px;
                padding: 3px;
            }

            .comment {
                font-size: 14px;
                font-weight: 500;
                color: #757180;
                opacity: 0.7;
            }

            .evaluation {
                display: flex;
                gap: 5px;

                i {
                    font-size: 14px;
                    color: #FFA755;
                }

                p {
                    font-size: 14px;
                    font-weight: 500;
                    color: #757180;
                    opacity: 0.9;
                    margin-left: 5px;
                }
            }

            .credit-box {
                display: flex;
                justify-content: space-between;
                background-color: #F8F8F9;
                border-radius: 10px;
                height: 55px;

                .credit-1 {
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 3px 15px;
                    background-color: #FFFFFF;
                    height: 47px;
                    margin: 4px;
                    border-radius: 10px;
                }

                .credit-2 {
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 18px 22px;
                }
            }
        }
    }
}

#robots-contntainer {
    margin: 70px 0px;

    .robot-container-title {
        h2 {
            font-size: 25px;
            font-weight: 700;
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }

    .robot-section-main-container {
        display: flex;
        justify-content: space-between;

        .buy-container-box {
            padding: 10px;
            display: grid;
            justify-content: space-around;
            align-self: self-start;
            border-radius: 15px;

            &:hover {
                outline: 1px solid #f5f4f4;
                cursor: pointer;
            }

            img {
                width: 170px;
            }

            .price {
                font-size: 20px;
                font-weight: 700;
                font-family: 'Lato', sans-serif;
            }

            .box-sale {
                font-size: 14px;
                color: #344F79;
                font-weight: 500;
                border: 1px solid #757180;
                text-align: center;
                border-radius: 10px;
                padding: 3px;
            }

            .comment {
                font-size: 14px;
                font-weight: 500;
                color: #757180;
                opacity: 0.7;
            }

            .evaluation {
                display: flex;
                gap: 5px;

                i {
                    font-size: 14px;
                    color: #FFA755;
                }

                p {
                    font-size: 14px;
                    font-weight: 500;
                    color: #757180;
                    opacity: 0.9;
                    margin-left: 5px;
                }
            }

            .box-icon-home {
                display: flex;
                justify-content: center;
                gap: 10px;

                i {
                    background-color: #e2e2e2;
                    padding: 15px;
                    border-radius: 10px;
                    color: #58565f;
                    cursor: pointer;
                }

                .adding {
                    color: #fff;
                    background-color: #D92E15;
                }
            }
        }
    }
}

#robots-contntainer {
    margin-bottom: 70px;

    .robot-container-title {
        h2 {
            font-size: 25px;
            font-weight: 700;
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }

    .robot-section-main-container {
        display: flex;
        justify-content: space-between;

        .robot-section-box {
            padding: 10px;
            display: grid;
            justify-content: space-around;
            align-self: self-start;
            border-radius: 15px;
            width: 200px;
            display: grid;
            justify-content: space-between;

            &:hover {
                outline: 1px solid #f5f4f4;
                cursor: pointer;
            }

            img {
                width: 170px;
                margin-bottom: 30px;
            }

            .price {
                font-size: 20px;
                font-weight: 700;
                font-family: 'Lato', sans-serif;
                margin-bottom: 20px;
            }

            .box-sale {
                font-size: 14px;
                color: #344F79;
                font-weight: 500;
                border: 1px solid #757180;
                text-align: center;
                border-radius: 10px;
                padding: 3px;
            }

            .comment {
                font-size: 14px;
                font-weight: 500;
                color: #757180;
                opacity: 0.7;
            }

            .evaluation {
                display: flex;
                gap: 5px;

                i {
                    font-size: 14px;
                    color: #FFA755;
                }

                p {
                    font-size: 14px;
                    font-weight: 500;
                    color: #757180;
                    opacity: 0.9;
                    margin-left: 5px;
                }
            }

            .credit-box {
                display: flex;
                justify-content: space-between;
                background-color: #F8F8F9;
                border-radius: 10px;
                height: 55px;

                .credit-1 {
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 3px 15px;
                    background-color: #FFFFFF;
                    height: 47px;
                    margin: 4px;
                    border-radius: 10px;
                }

                .credit-2 {
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 18px 22px;
                }
            }

            .box-icon-home {
                display: flex;
                justify-content: center;
                gap: 10px;

                i {
                    background-color: #e2e2e2;
                    padding: 15px;
                    border-radius: 10px;
                    color: #58565f;
                    cursor: pointer;
                }

                .adding {
                    color: #fff;
                    background-color: #D92E15;
                }
            }
        }
    }
}

#famous-section {
    margin: 50px 0px;

    .famous-container-title {
        h2 {
            font-size: 25px;
            font-weight: 700;
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }

    .famous-main-contanatiner-box {
        display: flex;
        justify-content: space-between;

        .famous-container-box {
            border: 2px solid #f0efef;
            padding: 20px 25px;
            border-radius: 15px;

            img {
                width: 140px;
            }
        }
    }
}

#reason {
    margin: 50px 0px;

    .reason-container-title {
        h2 {
            font-size: 25px;
            font-weight: 700;
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }

    .reason-main-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .reason-box {
            width: 200px;
            border: 2px solid #f5f4f4;
            border-radius: 20px;
            height: 250px;
            padding: 15px 10px;

            i {
                color: #D92E15;
                background-color: #FDF5F3;
                padding: 10px;
                border-radius: 10px;
                font-size: 25px;
                margin-bottom: 20px;
            }

            h3 {
                font-size: 17px;
                font-weight: 700;
            }

            p {
                font-size: 15px;
                color: #525155;
                opacity: 0.9;
            }
        }
    }
}

#social-media {
    background-color: #F8F8F9;
    margin-top: 100px;

    .social-media-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social-media-container-left {
            display: grid;
            align-items: center;
            gap: 10px;

            h1 {
                font-size: 30px;
                color: #222C3A;
                font-weight: 700;
            }

            p {
                color: #222C3A;
                opacity: 0.9;
                font-weight: 300;
            }

            .store-home {
                display: flex;
                justify-content: space-between;

                .store {
                    background-color: #222C3A;
                    width: 150px;
                    border-radius: 15px;

                    img {
                        padding: 5px 10px;
                    }
                }
            }
        }

        .social-media-container-right {
            img {
                margin-top: -50px;
            }
        }
    }
}

#footer {
    background-color: #1D242F;
    padding: 60px 0px;

    .footer-container-main-box {
        display: flex;
        justify-content: space-between;
        color: #fff;

        .footer-container-box {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .footer-icon {
                width: 150px;
            }

            h5 {
                font-size: 13px;
                font-weight: 700;
            }

            a {
                text-decoration: none;
                color: #fff;
                font-weight: 800;
            }

            h4 {
                font-size: 15px;
                font-weight: 700;
            }
        }

        .footer-payment-title {
            h5 {
                font-size: 14px;
                font-weight: 800;
            }
        }

        .footer-paymnet-header-box {
            display: flex;

            .footer-payment-main-box {
                display: flex;
                justify-content: space-between;
                gap: 30px;

                .footer-payment-box {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                }
            }
        }
    }
}

.footer-main-info-box {
    display: flex;

    .footer-info-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        h5 {
            margin-bottom: 15px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style-type: none;

            a {
                text-decoration: none;
                font-size: 12px;
                font-family: 'Lato' sans-serif;
                color: #82868C;
                opacity: 0.5;
            }
        }
    }
}

#last {
    background-color: #222C3A;

    .last-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;

        h6 {
            color: #fff;
        }

        .last-container-right {
            display: flex;
            gap: 20px;

            a {
                text-decoration: none;
                color: #fff;
                font-size: 20px;
            }
        }
    }
}

$first-breakpoint: 1280px;

@media (max-width: $first-breakpoint) {
    .container {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }

    .navbar-container-top {
        display: flex;
        align-items: center;
    }

    .header-middle-container-button {
        a {
            padding: 10px !important;
            display: flex;
            align-items: center;
        }
    }

    .header-middle-container-input {
        width: 300px !important;
    }

    .header-bottom {
        ul {
            display: flex;
            justify-content: space-between;

            .li-10 {
                display: none;
            }

            .li-11 {
                display: none;
            }

            .li-12 {
                display: none;
            }
        }
    }

    #kategory-container {
        .kategory-main-container {
            display: flex;
            justify-content: center;
            gap: 20px;

            .kategory-5 {
                display: none;
            }

            .kategory-6 {
                display: none;
            }
        }
    }

    #new-container {
        .news-main-container {
            display: flex;

            .news-5 {
                display: none;
            }

            .news-6 {
                display: none;
            }
        }
    }

    #beast-seller {
        .best-seller-main-container {
            .best-5 {
                display: none;
            }

            .best-6 {
                display: none;
            }
        }
    }

    #buy-container {
        .buy-main-container {

            .buy-container-box {
                width: 200px;

                .evaluation {
                    display: flex;
                    justify-content: start;
                }
            }

            .buy-5 {
                display: none;
            }

            .buy-6 {
                display: none;
            }
        }
    }

    #nootebooks {
        .nootebooks-main-container {
            .nootebok-5 {
                display: none;
            }

            .nootebok-6 {
                display: none;
            }
        }
    }

    #robots-contntainer {
        .robot-section-main-container {
            .robot-5 {
                display: none;
            }

            .robot-6 {
                display: none;
            }
        }
    }

    #famous-section {
        .famous-main-contanatiner-box {

            .famous-container-box {
                border: 2px solid #f0efef;
                padding: 20px 40px;
                border-radius: 15px;

                img {
                    width: 170px;
                }
            }

            .famous-5 {
                display: none;
            }

            .famous-6 {
                display: none;
            }
        }
    }

    #reason {
        .reason-main-container {
            display: flex;
            justify-content: center;
            gap: 30px;

            .reason-5 {
                display: none;
            }

            .reason-6 {
                display: none;
            }
        }
    }
}

$second-breakpoint: 1100px;

@media (max-width: $second-breakpoint) {

    #header-top {
        display: none;
    }

    #header-middle {
        display: none;
    }

    #header-bottom {
        display: none;
    }

    #header-top-phone {
        display: block;
    }

    #header-middle-phone {
        display: block;
    }

    #header-bottom-phone {
        display: none;
    }

    .navbar-bottom {
        display: block;
    }

    #kategory-container {
        .kategory-main-container {
            .kategory-4 {
                display: none;
            }
        }
    }

    #new-container {
        .news-main-container {
            display: flex;
            justify-content: space-around;

            .news-4 {
                display: none;
            }
        }
    }

    #beast-seller {
        .best-seller-main-container {
            display: flex;
            justify-content: space-around;

            .best-4 {
                display: none;
            }
        }
    }

    #buy-container {
        .buy-main-container {
            display: flex;
            justify-content: space-around;

            .buy-4 {
                display: none;
            }
        }
    }

    #nootebooks {
        .nootebooks-main-container {
            display: flex;
            justify-content: space-around;

            .nootebok-4 {
                display: none;
            }
        }
    }

    #robots-contntainer {
        .robot-section-main-container {
            display: flex;
            justify-content: space-around;

            .robot-4 {
                display: none;
            }
        }
    }

    #famous-section {
        .famous-main-contanatiner-box {
            display: flex;
            justify-content: space-around;

            .famous-container-box {
                border: 2px solid #f0efef;
                padding: 20px 50px;
                border-radius: 15px;

                img {
                    width: 200px;
                }
            }

            .famous-4 {
                display: none;
            }
        }
    }

    #reason {

        .reason-main-container {
            display: flex;
            justify-content: space-around;

            .reason-box {
                width: 300px;
                height: 200px;
            }

            .reason-4 {
                display: none;
            }
        }
    }
}

$thirth-breakpoint: 1024px;

@media (max-width: $thirth-breakpoint) {
    #header-top-phone {
        display: block;
    }

    #header-middle-phone {
        display: block;
    }

    .navbar-bottom {
        display: block;
    }
}

$fourth-breakpoint: 1000px;

@media (max-width: $fourth-breakpoint) {
    .header-middle-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
    }

    #header-bottom-phone {
        .header-bottom-container {
            .header-bottom {
                ul {
                    .li-10 {
                        display: none;
                    }

                    .li-9 {
                        display: none;
                    }
                }
            }
        }
    }

    #kategory-container {
        .kategory-main-container {
            display: flex;
            flex-wrap: wrap;
        }
    }

    #new-container {
        .news-main-container {
            display: flex;
            flex-wrap: wrap;
        }
    }

    #beast-seller {
        .best-seller-main-container {
            display: flex;
            flex-wrap: wrap;
        }
    }

    #buy-container {

        .buy-container-kategory {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .buy-main-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    #nootebooks {
        .nootebooks-main-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    #robots-contntainer {
        .robot-section-main-container {
            display: flex;
            flex-wrap: wrap;
        }
    }

    #famous-section {
        .famous-main-contanatiner-box {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    #reason {
        .reason-main-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }

    #social-media {
        .social-media-container {
            display: flex;
            flex-direction: column;

            .social-media-container-left {
                margin-top: 40px;

                h1 {
                    font-size: 17px;
                }

                p {
                    font-size: 12px;
                }

                .store-home {
                    display: flex;
                    justify-content: space-around;
                    gap: 10px;
                    flex-wrap: wrap;
                }
            }

            .social-media-container-right {
                img {
                    margin-top: 40px;
                    width: 250px;
                }
            }

        }
    }

    #footer {
        .footer-container-main-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 50px;
        }
    }
}